@tailwind base;
@tailwind components;
@tailwind utilities;

.top-logo{
 
  max-width: 200px;
  height: 60px;

}
.loginbottonfornav {
  background-color: #f59e0b; /* Equivalent to bg-brand-orange in Tailwind CSS */
  color: #fff; /* Equivalent to text-white in Tailwind CSS */
  padding: 0.5rem 1rem; /* Equivalent to px-2 py-1 in Tailwind CSS */
  font-size: 0.875rem; /* Equivalent to text-sm in Tailwind CSS */
  font-weight: 500; /* Equivalent to font-medium in Tailwind CSS */
  border-radius: 0.375rem; /* Equivalent to rounded-md in Tailwind CSS */
  border: 2px solid transparent; /* Equivalent to border-2 border-transparent in Tailwind CSS */
  transition-duration: 0.3s; /* Equivalent to transition duration-300 in Tailwind CSS */
  transition-timing-function: ease-in-out; /* Equivalent to ease-in-out in Tailwind CSS */
}

.loginbottonfornav:hover {
  color: #f59e0b; /* Equivalent to hover:text-brand-orange in Tailwind CSS */
  background-color: #fff; /* Equivalent to hover:bg-white in Tailwind CSS */
  border-color: #f59e0b; /* Equivalent to hover:border-brand-orange in Tailwind CSS */
}
   

.full-page {
  position: relative;
  height: 80vh;
}

.sorry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sorry img {
  width: 400px; /* Adjust size as needed */
  height: auto;
}

.h3{
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  color: rgb(12,54,57);
  margin-top: 20px;
}


.border-box{
  margin-top: 20px;
}


.search-container {
  text-align: right;
  justify-content: right;
  margin-top: 20px;
  margin-left: 870px;

  width: 40%;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(12,54,57);
  background-color: rgb(12,54,57);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(21,94,99);
}
.custom-logo{
  height: 25px;
  width: 100px;
}



.form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid #bebbbb 0.5px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  
}
.dobandage{
  display: flex;
  margin-top: 30px;
  
}
.gender{
  margin-top: 30px;
}
#service{
  margin-left: -5px;
}
/* .emailandphone{
  display: flex;
} */
input[type="text"],
textarea {
  width: 30%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}
input[type="number"],
textarea {
  width: 15%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}
select, #gender, #service {
  width: 100%;
  margin-top: 10px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.street{
  width: 310%;
}



.qualificationandservice{
  margin-top: 30px;
}


.service{
  margin-top: 30px;
}

.abt{
  width: 310%;
}


.bc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sbutton{
  background-color: rgb(12,54,57);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: rgb(12,54,57);
  border-radius: 10px;
  color: white;
  margin: 10px;
  width: 30%;
  text-align: center;
  justify-content: center;

}

.padd{
  padding: 15px;
}

.card-header {
  background-color: #fff;
  color: #3e3e3e;
  font-size: 2em;
  padding: 30px;
  font-weight: 555;
  line-height: 1.45;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

hr.solid {
  border-top: 1px solid #e0dddd;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;

}
hr.solid1 {
  border-top: 1px solid #e0dddd;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;

}

.details{
  margin: 30px;
}
.address{
  margin-top: 30px;
}
.emailandcontact{
  margin-top: 30px;
}

.charge{
  margin-top: 30px;
}
.aboutyou{
  margin-top: 30px;
}
.leftmg{
  margin-left: 10px;
  margin-bottom: -23px;
  font-family: Arial, sans-serif;
  color: #3c3c3c;

}
.leftmg1{
  
  margin-bottom: -23px;
  font-family: Arial, sans-serif;
  color: #3c3c3c;

}
.mainsection{
  display: flex;
  padding: 20px;
  
  
  

}
.firstsection{
  width: 50%;
  border: rgb(12,54,57) solid 1px;
  border-radius: 5px;
  margin: 20px;
}
.secondsection{
  width: 50%;
  border: rgb(12,54,57) solid 1px;
  border-radius: 5px;
  margin: 20px;
  
}

.avatar-xl img {
  width: 110px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: #c7c1c1 solid 1px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.firstrow{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.avatar.avatar-xl{
  margin-left: 40%;
}

.text-muted-1{
  border: #3c3c3c solid 1px;
  padding: 10px;

  
}
.d{
  width: 300%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  

}
.d1{
  width: 120%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  

}
.d2{
  width: 120%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  

}
.d3{
  width: 120%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  

}
.d4{
  width:130%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  

}
.d5{
  width:200%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  

}

.form-group1{
margin-left: 240px;
}
.form-group2{
margin-left: 190px;
}
.form-row{
  display: flex;
  

}
.dob1{
  display: flex;
}


/* home page */

  
  
.mainbody {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

#image-section {
 margin-left: 40px;
}

.red{
  color: red;
}

.header-image {
  height: 80vh;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 3rem;
  margin-left: 3rem;
}




#address h2{
  font-size: 1.2rem;
  font-weight: 600;
}

#content-text {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-align: end;
  padding-right: 3rem;
}

.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  line-height: 7rem;
  color: #303c4e;
  margin-bottom: 3rem;
}

.h2 {
  font-family: "Poppins", sans-serif;
  font-weight:600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 40rem;
}




#contacts {
  text-align: end;
  padding-right: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

#phone,
#adress {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: #303c4e;
}

#phone span {
  font-size: 1.9rem;
  font-weight: 600;
  color: #7fdbbb;
  letter-spacing: 0.2rem;
}

.detailsname {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 31px;
}
.detailsfornameanddesignation {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.cen{
  margin-top: 0px;
}
.servicedetails {
  font-size: 22px;
  font-weight: 500;
  color: #363a43;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.makeacall {
  background-color: rgb(255 161 22); /* Brand Orange color */
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.makeacall:hover {
  background-color: rgb(193, 122, 15); /* Brand Orange-S color (slightly darker shade) on hover */
}

@media screen and (max-width: 640px) {
 
  
  .mainbody {
    flex-direction: column-reverse;
    width: auto;
  }
  .makeacall{
    margin-bottom: -10px;
    margin-top: 30px;
  }

  #content {
    margin-left: 22rem;
  }


#address h2{
  font-size: 1.2rem;
  font-weight: 600;
}

#content-text {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-align: end;
  padding-right: 3rem;
}

.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.h2 {
  font-size: 1.5rem;
  line-height: 2.0rem;
  margin-left: auto;
  width: 19rem;
  
}


.top-logo{
 
  max-width: 150px;
  height: 60px;
  margin-top: 40px;
  margin-left: 20px;

}
.loginbottonfornav {
font-size: 0.975rem;
margin-right: 20px; 
margin-top: 40px;

}



.header-image {
  height: auto;
  width: 20rem;
  opacity: .5;
}

#image-section {
  min-height: 0vh;
  justify-content: space-between;
  align-items: left;
  gap: 0rem;
  margin-top: 20px;
  margin-left: -10px;


  
  
} 
.detailsname {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.cen{
margin-left: -15px;
}
.detailsfornameanddesignation {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  margin-top: 20px;
}
.makeacall {
  
 padding: 12px;
 margin-bottom: -5px;
}
.servicedetails {
  font-size: 22px;
  font-weight: 500;
  color: #363a43;
  text-align: center;
  margin-bottom: -20px;
 
}

input[type="text"],
textarea {
  width: 90%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}
input[type="number"],
textarea {
  width: 90%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}
.street{
  width: 100%;
}
.abt{
  width: 100%;
}
.sbutton{
  
  font-weight: 500;
  width: 50%;

}
}


/* servicelistgrid  */
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }